# Ignore virtual envs
.venv/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore local MLflow stuff
mlruns/

# Ignore local data (probably don't need raw/train data in the image...)
data/raw/
data/processed/

# Git stuff
.git/
.gitignore